.iconBox{position:fixed;bottom:22px;left:22px;}
.iconBg{width:40px;min-height:40px;background:rgba(29, 40, 64, 0.9);border:solid 1px #3D4B66;border-radius:4px;cursor:pointer;display:flex;align-items:center;justify-content:center;margin-top:22px;position:relative}
.iconBg:hover,.discusBg:hover{box-shadow:0 0 7px rgba(198, 204, 217, 0.58)}
.iconBg span,.discusBg span{display:block;width:20px;height:20px}
.iconBg span.kefu{background:url(../../mooc2/images/chapter/kfIcon.png) no-repeat;background-size:100% 100%}
.iconBg:hover span.kefu{background:url(../../mooc2/images/chapter/kfHover.png) no-repeat;background-size:100% 100%}
.iconBg span.ewm{background:url(../../mooc2/images/chapter/ewmIcon.png) no-repeat;background-size:100% 100%}
.iconBg:hover span.ewm{background:url(../../mooc2/images/chapter/ewmHover.png) no-repeat;background-size:100% 100%}
.iconBg span.dayi{background:url(../../mooc2/images/chapter/dayiIcon.png) no-repeat;background-size:100% 100%}
.iconBg:hover span.dayi{background:url(../../mooc2/images/chapter/dayiHover.png) no-repeat;background-size:100% 100%}
.iconBg span.backTo{background:url(../../mooc2/images/chapter/backTo.png) no-repeat;background-size:100% 100%}
.iconBg:hover span.backTo{background:url(../../mooc2/images/chapter/backHover.png) no-repeat;background-size:100% 100%}
.discusBg span.discusNew{background:url(../../mooc2/images/chapter/discusIcon.png) no-repeat;background-size:100% 100%;float:left}
.discusBg:hover span.discusNew{background:url(../../mooc2/images/chapter/discusHover.png) no-repeat;background-size:100% 100%}
.ewmBox{position:absolute;width:148px;background:#fff;padding:14px 20px;border-radius:6px;bottom:0;right:-154px;text-align:center;font-size:12px;line-height:17px;color:#8A8B99;box-sizing:border-box;display:none;box-shadow:0 2px 12px rgba(0, 37, 89, 0.2)}
.ewmBox p{margin-top:10px;}
.ewmBg:hover .ewmBox{display:block}
.discusFontBx{width:0;margin-left:10px;position:relative;float:left;overflow:hidden}
.textAreaBx{max-height:200px;overflow:hidden;}
.textcon{width:175px;background:none;color:#fff;font-size:14px;line-height:20px;font-family:microsoft Yahei;overflow:hidden}
.discusBg{padding:10px;min-height:20px;background:rgba(29, 40, 64, 0.9);border:solid 1px #3D4B66;border-radius:4px;cursor:pointer;margin-top:22px;position:relative;padding-right:0}
.textAreaBx::-webkit-scrollbar {width: 8px;height: 8px;}
.textAreaBx::-webkit-scrollbar-thumb {border-radius:8px;background-color: rgba(255, 255, 255, 0.15);}
.disArr{width:16px;height:100%;right:0;top:0px;position:absolute;background:#26334D;border-radius:0 10px 10px 0;display:flex;align-items:center;justify-content:center}
.disArr:before{content:'';display:block;width:12px;height:12px;background:url(../../mooc2/images/chapter/disArr.png) no-repeat;background-size:100%;}
.fabuBtn{border-top:solid 1px rgba(255,255,255,.1);position:relative;bottom:-8px;height:20px;padding-top:6px;text-align:right;padding-right:24px;margin-bottom:5px}
.fabuBtn a{color:#3A8BFF;font-size:14px}
.rightShow{left:auto;right:22px;width:40px;}
.rightShow .ewmBox{left:-154px}