.swfupload {
    float: left;
    margin-left: 42px;
    margin-top: 5px;
}

.swfupload_h5 {
    float: left;
    margin-left: 42px;
    margin-top: 5px;
    font-size: 14px;
    margin-left:0px; margin-top:0px; position: relative;z-index: 1;line-height: 16px;cursor: pointer
}

.sp_img {
    display: inline-block;
    width: 20px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

.swfupload_h5 {
    float: left;
    margin-left: 42px;
    margin-top: 5px;
    font-size: 14px;
}
.hfAddImg{width:33px;height:28px;background:url(../images/group/hfAddImg.jpg) no-repeat;cursor:pointer}