/**2023.08.07.批阅完样式**/
.newAnswerBx{border:solid 1px #F0F3F7;border-left:solid 5px #E1E7F0;border-radius:3px;padding:16px 16px 0 16px;margin-bottom:40px;margin-top:20px;font-size:14px;line-height: 20px;}
.myAnswerBx{position:relative;padding-right:120px;}
.myAnswer{font-size:14px;line-height:20px;}
.marBot16{margin-bottom: 16px;}
.marTop16{margin-top:16px}
.marTop6{margin-top:6px;}
.answerScore{position:absolute;right:0;top:0;height:28px;line-height:28px;font-size:12px}
.CorrectOrNot{width: 26px;height: 26px;font-size: 26px;cursor: pointer;}
.newAnswerScore{margin-left:30px;}
.scoreNum{font-size:24px;font-weight:700;margin-right:6px}
.answerFont{font-weight:600;width:70px}
.answerCon{width:calc(100% - 80px)}
.correctAnswer{font-size:14px;line-height:20px;color:#00B368}
.colorGray{color:#8A8B99}
.knowledgeList li{float:left;padding:6px 14px;background:#fff;border:solid 1px #DADFE5;border-radius:4px;margin-right:16px;font-size:12px;line-height:18px;box-sizing:border-box;overflow: hidden;
    text-overflow: ellipsis;white-space: nowrap;max-width:110px;margin-bottom:16px}
.collectAnswer{display: inline-block;margin-right:20px}
.teacherline{border-top:solid 1px #f2f2f2}
.teacherComments{padding:16px;box-shadow:0 2px 16px rgba(55, 70, 92, 0.1);background:#fff;margin:30px 0;position:relative}
.teacherComments::before{content:'';position:absolute;width:14px;height:8px;background:url(../images/ceyanNew/commArr.png) no-repeat;top:-8px;left:20px}
.commentsTit{font-weight:600;background:url(../images/ceyanNew/teacherIcon.png) no-repeat left center;padding-left:22px;font-size:14px;line-height:20px}
.commentsCon{margin-top:6px;font-size:14px;line-height:24px}