/***2015-09-11**/
/***2015-09-11**/
.newRight{padding:10px}
.newTopic{width:90%;margin:0 auto;height:28px;border:solid 1px #ddd;background:#fff;border-radius:2px;font-family:Microsoft YaHei;color:#999;padding:0 10px;line-height:28px}
.newPic{margin-top:8px;height:0px;overflow:hidden}
.newText{width:90%;margin:0 auto;border:solid 1px #ddd;resize:none;background:#fff;border-radius:2px;height:100px;padding:10px;font-family:Microsoft YaHei;line-height:2}
.newBtn{padding:12px 0;}
.addPic{width:82px;height:26px;background:url(../../images/group/addPic.png) no-repeat left top;}
.loading{margin:10px 10px 0 10px}
.lvBtn{display:inline-block;height:26px;line-height:26px;padding:0 18px;background:#7b9e31;border-radius:3px;color:#fff}
.newPic{margin-top:17px;position:relative;width:100%;margin-bottom:15px}
.newTu span{float:left;width:68px;height:68px;background:#ffb384;margin-right:5px;margin-top:10px;position:relative;}
.newTu span a{position:absolute;width:18px;height:18px;background:#7a9e31;color:#fff;line-height:18px;text-align:center;top:-5px;right:-5px;border-radius:18px;line-height:18px;display:none}
.newTu span:hover a{display:block}

.discus{border:solid 1px #e2e2e2;background:#fcfcfc;margin-bottom:30px;margin:0 10px;margin-bottom:10px}
.discusFirst{padding:5px 10px 25px 5px;}
.bor{border-bottom:solid 1px #e2e2e2;height:0;overflow:hidden}

.stuPhoto{width:25px;height:25px;border-radius:32px;overflow:hidden}
.stuPhoto2{width:36px;height:36px;border-radius:36px;overflow:hidden}
.stuRight{width:100%;}
.stuName{font-size:14px;}
.del{font-size:12px;color:#7b9e31}
.stuTitle{font-size:16px;padding-bottom:5px}
.stuFont{font-size:14px;color:#666}

.picDetail{padding:10px 0}
.borLine{border-left:solid 1px #e2e2e2;height:20px;width:5px;margin-left:5px;display:inline-block}
.borNoLine{height:20px;width:2px;margin-left:5px;display:inline-block}

.FirstHf{padding:15px 5px 0 95px}
.hfRight{width:500px;}
.colorName,a.colorName{color:#7b9e31}
.htFont1{font-size:14px;padding:0px 5px 14px 0px}
.htFont{font-size:14px;padding:10px 5px 10px 0px}
.htDIv{margin:20px 0}
.htText{width:420px;max-height:90px;border:solid 1px #ddd;resize:none;border-radius:5px;display:block;min-height:22px;overflow:auto;background:#fff;line-height:22px;padding:2px}

.moreHt{display:block;margin:0 auto 30px;color:#666;width:100px}
.moreTopic{height:26px;line-height:26px;text-align:center;border:solid 1px #e2e2e2;background:#fcfcfc;display:block;margin-bottom:50px;font-size:14px;color:#777}
.cancel{color:#999;margin:5px 10px;}
.time{color:#999;font-size:12px;}
.role{color:#0367b0;font-size:12px;}
.pl i{display:inline-block;width:14px;height:14px;background:url(../../images/group/gIcons.png) no-repeat -27px top;margin:0 10px;float:left;margin-top:4px}
.zdi_top {border: 1px #0367b0 solid;color: #0367b0;}



.zdi_essence {border: 1px solid #f00;color: #f00;}
.zdi_top, .zdi_essence, .zdi_reply {border-radius: 3px;font-size: 12px;margin-right: 5px;padding-left: 3px;padding-right: 3px;}


/****2015-09-29*****/
.newTopic0{display:block;background:url(../../images/group/newTopic.png) no-repeat left center;padding-left:20px;height:30px;line-height:30px;color:#999}

.zan i{display:inline-block;width:15px;height:15px;background:url(../../images/group/gIcons.png) no-repeat -75px top;margin:0 10px;float:left;margin-top:2px}
.zan:hover i{background-position:-96px top}
.zan1 i{display:inline-block;width:15px;height:15px;background:url(../../images/group/gIcons.png) no-repeat -96px top;margin:0 10px;float:left;margin-top:2px}

/** 课程内右侧讨论附件 **/
.fileA {border: 1px solid #CCC;border-radius: 3px;font-size: 12px;display: inline-block;height: 26px; line-height: 26px; width: 88px;text-align: center;color: #4c4b4b}
.fileInput{font-size:17px;width:84px;height:28px;line-height:32px;cursor:pointer;opacity: 0;margin-left:-87px}
.noticeAttachment{max-height:120px;overflow:auto;}
.oneAttachment{height:25px;line-height:25px;padding-left:15px;margin-top:5px;}
.attachmentHref{color:blue;font-size:16px;text-align:center;height:25px;margin-left:10px}
.attachmentDelete{color:#7b9e31;float:right;margin-right: 80px}