@charset "utf-8";
/* CSS Document */

/*格式化样式*/
*{margin:0;padding:0}
body{font:12px/1.5 MIcrosoft YaHei,Arial, Helvetica, sans-serif;color:#333;background:#f7f7f9}
table{width:100%; border-collapse:collapse;border:none;border-spacing:0}
a{color:#202020;text-decoration:none;}
img{border:none}
input{vertical-align:middle;outline:none}
textarea{outline:none;}
ul,ol,dl{list-style:none;}
b,em,i,u,strong{font-weight:normal;font-style:normal;text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:normal;}

/*公共样式*/
.fl{float:left;}
.fr{float:right;}
.clearfix{overflow:hidden;zoom:1}
.clear{clear:both}
