@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px;}
body{font:12px/1.5 Microsoft YaHei,SimSun, Arial, Helvetica, sans-serif; color:#333; background:#FFF;}
img{border:0px;}
ul,ol{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
table {border-collapse: collapse;border-spacing: 0;}
input,select,textarea{vertical-align:middle; outline:none; resize:none; font-family:Microsoft YaHei;}
a{color:#333; text-decoration:none;}
.clearfix{zoom:1; overflow:hidden;}
.clear{ clear:both; font-size:0; height:0; line-height:0;}
.fl{float:left;}
.fr{float:right;}
html,body{ height:100%;}
/*********************************************/

.kc_notes{ background:#f2f2f6; overflow:hidden; overflow-y:auto;}
.kc_notes_padding{ padding:12px;}
.kc_notes_form{ padding:12px; border:solid #e6e6e6 1px; background:#FFFFFF;}
/*.kc_notes_area textarea{ width:100%; height:472px; line-height:22px; font-size:14px; color:#333; text-align:justify; border:0; background:none;}*/
.kc_notes_area{ min-height:200px; line-height:22px; font-size:14px; color:#333; text-align:justify; border:0; background:none; outline:none;}
.kc_notes_bnt{ padding-bottom:12px; text-align:right;}
.kc_notes_bnt input{ width:64px; height:30px; background:#09f; font-size:14px; color:#FFF; border:0 none; border-radius:3px; cursor:pointer;}

.kc_notes_area:empty:before{ content:'请输入笔记...';color:#999; }
.kc_notes_area:focus:before{ content:none;}

.kc_notes_botton{ padding:12px 12px 0;}
.kc_notes_title{ height:20px; line-height:1;}
.kc_notes_title h2{ font-size:14px; color:#333; font-weight:bold; float:left;}
.kc_notes_title h2 b{ width:2px; height:14px; background:#0099FF; float:left; margin-right:8px;}
.kc_notes_upDown{ font-size:14px; float:right; color:#09f;}
.kc_notes_row{ padding:10px; margin-bottom:12px; line-height:24px; border:solid #e6e6e6 1px; background:#FFFFFF;}
.kc_notes_row dt{ font-size:14px; color:#333;}
.kc_notes_row dt a{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.kc_notes_row dt a:hover{ color:#0099FF;}
.kc_notes_row dd{ font-size:12px; color:#999;}
.kc_notes_wod{ margin-top:10px; font-size:14px; color:#999999;}

.maskLayer{width:100%;height:100%;filter:alpha(opacity=70);opacity:0.5;background:#000;position:absolute;z-index:996;top:0;left:0;display:;}
.pop_notes{ width:478px; background:#FFF; border:solid #ccc 1px; position:fixed; left:50%; margin-left:-250px; z-index:999;}
.pop_notes_title{ height:43px; background:#f5faff; border-bottom:solid #d6ebff 1px; padding:0 15px;}
.pop_notes_title h2{ line-height:43px; font-size:16px; color:#000; float:left;}
.pop_notes_dele{ width:13px; height:13px; background:url(../images/pop_delete.png) no-repeat; float:right; margin-top:15px;}
.pop_notes_content{ padding-top:20px; line-height:38px; font-size:16px; text-align:center;}
.pop_notes_bnt{ padding:20px; text-align:center;}
.pop_bnt_blue,.pop_bnt_gray{ width:90px; height:36px; line-height:36px; margin:0 10px; font-size:14px; text-align:center; display:inline-block; border-radius:4px;}
.pop_bnt_blue{ background:#0099FF; color:#FFFFFF;}
.pop_bnt_gray{ background:#e6e6e6; color:#666666;}

/*笔记详情*/
.note {/*width: 790px;*/margin: 0 auto;}
.note li {padding: 20px 0 10px 0;}
.note li .divImg {float: left;width: 60px;height: 60px;}
.note li .divImg img {width: 60px;height: 60px;border-radius: 50%;}
.note li .comments {padding-left: 70px;padding-top: 5px;}
.note li h2 {line-height: 22px;    font-size: 14px;}
.comments h2 a {cursor: pointer;color: #0099ff;font-size: 14px;font-weight: bold;}
.note li .comtit {line-height: 32px;color: #000;font-size: 20px;color: #4d4d4d;font-weight: bold;margin: 10px 0;}
.note li .comtext {line-height: 24px;font-size: 14px;color: #333;word-wrap:break-word;}
.note li .comtext a.fancybox1{color: #3f88bf;max-width: 100%;font-size: 0;width: 100%;display: block;text-align: center;}
a.dynacALink{color: #0099ff;}
.note li .time {line-height: 26px;height: 26px;color: #bcbcbc;margin-bottom: 10px;}
.note li .time .fl span {margin-right: 20px;}
.note li .time .fr span {color: #ccc;margin: 0 10px;}
.note li .time span {font-size: 12px;color: #CCCCCC;}
.note li .time a {color: #0099ff; margin-right: 20px;}

.comtext img{max-width: 720px;padding:5px;}
.NotePraise{text-align: center;font-size: 16px;color: #0099ff;margin-top: 40px;margin-bottom: 5px;line-height: 30px;}
.NotePraise img {width: 60px;height: 60px;cursor: pointer;}
.splitLine{height: 12px;background-color: rgba(243, 243, 243, 0.9);opacity: 0.9;}

.notes_data_form{ margin-top:50px;}
.notes_data_form textarea{ width:770px; height:100px; padding:9px; border:solid #ddd 1px; background:#F5F6F8;}

/*a  upload */
.a-upload{	width:80px; height:34px; padding-left:8px; line-height:34px; text-align:center; position:relative; cursor:pointer; color:#888; background:url(../images/up_down.png) no-repeat 8px center; border:1px solid #ddd; border-radius:4px; overflow:hidden; display:inline-block;}
.a-upload input{ position:absolute; font-size:30px; right:0; top:0; opacity:0; filter:alpha(opacity=0); cursor:pointer;}
.confirmBtn{display:inline-block;width:90px;height:36px;line-height:36px;border-radius:3px;text-align:center;margin:0 11px;font-size:14px;margin-right:0px;background:#0099ff;color:#fff}
.upload_text{ line-height:36px; color:#808080; margin-left:20px;}

.pic_notes{}
.pic_notes_row{ width:80px; height:80px; border-radius:4px; overflow:hidden; float:left; margin:10px 10px 0 0; position:relative;}
.pic_notes_row img{ width:100%; height:100%; display:block;}
.pic_notes_dele{ width:16px; height:16px; background:url(../images/deleteItem.png) no-repeat; display:block; position:absolute;top:0; right:0; cursor:pointer;}
.editor-image img{max-width: 100%;}



































































