::-webkit-input-placeholder{ color: #E1E1E5; text-overflow: ellipsis;}
:-moz-placeholder{ color: #E1E1E5 !important; text-overflow: ellipsis;}
::-moz-placeholder{ color: #E1E1E5 !important; text-overflow: ellipsis;}
:-ms-input-placeholder{ color: #E1E1E5 !important; text-overflow: ellipsis;}
.maskDiv,.maskDivReport{width:100%;height:100%;position:fixed;top:0;left:0;background: rgba(16,26,41,0.76);z-index:10}
.popDiv{min-height:100px;background: #FFFFFF;border-radius: 10px;position:fixed;left:50%;top:50%;overflow:hidden;margin-left:-320px;margin-top:-240px;}
.wid640{width:640px;height:480px}
.popHead{line-height:60px;height:60px;background: #FFFFFF;box-shadow: inset 0 -1px 0 0 rgba(242,242,242,0.80);position:absolute;left:0;top:0;width:100%;padding:0 30px;box-sizing: border-box;background:#fff}
.popHead{font-size:18px;color:#181E33;font-weight:bold}
.popClose{display:inline-block;width:18px;height:18px;margin-top:19px}
.het62{width:100%;height:60px;}
.popBottom{width:100%;height:53px;background:#fff;position:absolute;left:0;bottom:0;padding-top:17px;}
.popBottom a{margin-right:30px;}
.shadowBox{box-shadow: 0 -1px 4px 0 rgba(209,209,209,0.18);}
.het72{width:100%;height:72px;}
.popMain{padding-top:40px;}
.ewmInfo{text-align:center;width:100%;line-height:28px;color:#181E33;font-size:20px;}
.ewmInfo span{display:block;color:#A8A8B3;font-size:14px;margin-top:10px;line-height:20px;}
.BomDiv{position:relative;float:right;margin-right:74px;margin-top:30px;}
.ewmBom{width:70px;height:70px;position:absolute;right:-60px;top:-21px}
.ewm_tips{display:inline-block;padding:0 10px;height:28px;line-height:28px;color:#91A0B5;font-size:14px;position:relative;background:#F5F7FA;border-radius:4px;}
.ewm_tips i{display:inline-block;width:4px;height:9px;background:url(../../images/courselist/qr-fc-rightArrow.png) no-repeat;background-size:100%;position:absolute;right:-4px;top:9px;}
.ewmDiv{width:186px;height:186px;border-radius:1px;margin:0 auto;margin-top:30px;position: relative;}
.ewmDiv_xxt{width:214px;height:214px;border-radius:1px;margin:0 auto}
.xxtInfo{color:#646873;font-size:14px;text-align:center;line-height:20px;margin-top:20px;margin-bottom:18px;}
.ewmBom a:hover{opacity:0.7}
.qrCover {width:186px;height:186px;position: absolute;top: 0;left: 0;filter: alpha(opacity = 90);opacity: .9; background: #FFF;}
.qrCoverbar {width: 186px;	position: absolute;top: 0;left: 0;width: 188px; margin-top: 50px}
.qrCoverbar p {text-align: center;font-size: 12px;line-height: 1.7em; margin-bottom: 20px}
.qrCoverbar p strong {font-size: 14px}
.qrCoverbar .u-btn2 {border: 0;border-radius: 2px;overflow: hidden;display: block; background: #69b3f2;width: 100px;height: 30px;line-height: 30px;margin: 0 auto;font-size: 16px;text-align: center;}