@charset "utf-8";
body,form,textarea,select,option,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dt,dd,menu,blockquote,fieldset,legend,button,input,hr,pre{margin: 0;padding: 0;}
body{font:12px/1.5 MicroSoft YaHei,Arial, Helvetica, sans-serif;}
ul,ol,img{border:0px;}
li{list-style-type:none;}
input,select,textarea{outline:none;}
a{color:#555555;text-decoration:none;}
.clear{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.clearfix{overflow:hidden;zoom:1;}
.leftF{float:left;}
.rightF{float:right;}
input{border:none;}
textarea{ border:0; padding:0; margin:0;}
.zbr {word-wrap:break-word;	word-break:break-all;}

