body.ans-cc{margin:15px;height: 370px;}
body.ans-cc *{box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;}
.ans-cc{
	font-size:18px;
	margin:0;
	word-wrap: break-word;
	line-height:37px;
	font-family:PingFangSC, 微软雅黑, 黑体, Arial, Helvetica, sans-serif;
	font-weight:normal;
	color: #181E33;
}
.clearfix{zoom:1;}
.clearfix:after{ content:'';display:block;overflow:hidden;clear:both;font-size:0; height:0; line-height:0; }
.ans-cc * {max-width:100%!important}
.ans-cc:after{content:'\20';display:block;height:0;clear:both;}
.ans-cc form,.ans-cc h1,.ans-cc h2,.ans-cc h3,.ans-cc h4,.ans-cc ul,.ans-cc li,.ans-cc dl,.ans-cc dt,.ans-cc dd,.ans-cc p{margin:0;padding:0;}
.ans-cc ul{list-style-type:disc;}
.ans-cc ol{list-style-type:decimal;}
.ans-cc strong {font-weight:bold;}
.ans-cc img,.ans-img-wrap{padding:0px;border:none;max-width: 100%}
/*.ans-img-wrap img{margin:0;}  */
.ans-img-wrap.float-right{float:right;display:block;margin-left:20px;}
.ans-img-wrap.float-left{float:left;display:block;}
.ans-img-title{display:block;background:#000;color:#fff;font-size:12px;text-align:left;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;text-indent:1em;margin-top:-24px;}
.x-ie7 .ans-img-title{margin-top:0;}
body.ans-cc[contenteditable] img{cursor:move;}
.ans-cc a{color:#666666;text-decoration:none;}
.ans-cc a.blue{color: blue;}
.ans-cc a.underline{color: blue;text-decoration: underline;cursor:pointer;}
.ans-attach a,.ans-cmp a{color:#666666;text-decoration:none;font-size:14px;font-weight:bold;}
.ans-cc sup.ref{font-size:13px;margin-left:2px;font-weight:400;font-style:normal;cursor:pointer;color:#fff;background:#f2ad6a;}

.ans-cc h1 {
	font-size: 24px;
	margin-top: 1em;
	margin-bottom: 10px;
	line-height: 1.4;
	color: #131b26;
	font-weight: 600;
}

.ans-cc h2 {
	font-size: 20px;
	margin-top: 1em;
	margin-bottom: 10px;
	line-height: 1.4;
	color: #131b26;
	font-weight: 600;
}

.ans-cc h3 {
	font-size: 18px;
	margin-top: 1em;
	margin-bottom: 10px;
	line-height: 1.4;
	color: #131b26;
	font-weight: 600;
}

.ans-cc h4 {
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 10px;
	line-height: 1.4;
	color: #131b26;
	font-weight: 600;
}

.ans-cc h5,.ans-cc h6 {
	font-size: 14px;
	margin-top: 1em;
	margin-bottom: 10px;
	color: #131b26;
	line-height: 1.4;
	font-weight: 600;
}
.ans-cc h2.first{clear:none;}
.ans-cc table:not(.ans-cc pre table){border-collapse:collapse;border-spacing:0;word-wrap:break-word;word-break:break-all;font-size:12px;line-height:12px;color:#666;margin:5px 0;}
.ans-cc caption{font-size:14px;font-weight:700;border:1px dashed #DDD;border-bottom:0;padding:8px 0 \9;}
.ans-cc td:not(.ans-cc pre td),th{border:1px solid #DDD;line-height:22px;padding:5px 10px;overflow: hidden;}
.ans-cc th{border-top:2px solid #BBB;background-color:#f7f7f7;font-weight:700;}
.ans-cc td:not(.ans-cc pre td){background-color:#FFF;}
.ans-cc table td p,table th p{text-indent:0;margin:0;}
.ans-cc p{margin-bottom:0;word-wrap:break-word;clear:both;}
.ans-cc p span{white-space: pre-wrap!important;}
.ans-cc td,.ans-cc th {min-width: 60px;}
.ans-cc pre code td {border: none;background: none;}

/*.ans-cc p iframe{margin-left:-2em}*/

.ans-cc li p,.ans-cc p.parasmall{margin-bottom:0;text-indent:0;}
.ans-cc .para-list{margin:0 0 14px 2em;}
.ans-cc .list-paddingleft-2{padding-left:30px;}
.ans-cc .ans-book{position:relative;line-height:22px;margin-left:2em;clear:both;font-size:14px}
.ans-block .ans-book{margin-left:0;}
.ans-book,.ans-book span{display:block;text-indent:0;}
.ans-cc .ans-book::foucs{background-color:#ccc;}
.ans-book-start,.ans-book-end{width:30px;}
.ans-cc .ans-book .ans-book-info{ left: 76px; overflow: hidden; position: absolute; top: 0; width: 290px;}
.ans-book .ans-ref-bookname{margin-top:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;width:44%;}
.ans-cc .ans-book-cover img{width:68px;margin:0;}
.x-ie7.ans-cc .ans-book-cover img,.x-ie6.ans-cc .ans-book-cover img{width:58px!important;}
body.ans-cc iframe.ans-module{border:1px #ccc solid;border-radius:3px;width:640px !important;height:80px;overflow:hidden;z-index:0;}
iframe.ans-insertbook-module{width:435px;height:110px;}
iframe.ans-insertvideo-module{height:422px !important;width:568px !important;}
iframe.ans-insertvideo-retract{height:80px !important;width:568px !important;}
iframe.ans-insertdoc-module{height:512px !important;width:568px !important;}
iframe.ans-insertdoc-retract{height:80px !important;width:568px !important;}
iframe.ans-insertaudio-module{height:210px !important;width:568px !important;}
iframe.ans-insertaudio-retract{height:80px !important;width:568px !important;}
iframe.ans-realplay-module{width:568px !important;height:320px !important;}
iframe.ans-realplay-retract{height:80px !important;width:568px !important;}
iframe.ans-ballchart-module{height:512px !important;width:630px !important;}
iframe.ans-ballchart-retract{height:80px !important;width:568px !important;}
iframe.ans-insertflash-module{height:80px !important;width:568px !important;}
iframe.ans-insertflash-retract{height:80px !important;width:568px !important;}
iframe.ans-insertaudio-wap-module{height:104px !important;width:575px !important;}

.ans-attach-title{color:#666;padding-left:30px;font-size:14px;}
.ans-attach-size{font-size:12px;color:#999;margin-left:5px;}
.ans-attach{background:url(../../css/ans-command-insertdoc.png) no-repeat left center;display:block;height:40px;line-height:40px;margin-left:10px;overflow:hidden;text-indent:0;}
.ans-attach-ct .ans-job-icon{width:137px;height:22px;background:url(../../css/job-status-new.png) no-repeat; clear:both; background-size: 100%;}
.ans-attach-ct .ans-job-icon.job-icon-en{background:url(../../css/job-status-new-en.png) no-repeat;background-size: 100%;}
.ans-attach-ct.ans-job-finished .ans-job-icon{background-image:url("../../css/job-status-new-complete.png");}
.ans-attach-ct.ans-job-finished .ans-job-icon.job-icon-en{background-image:url("../../css/job-status-new-complete-en.png");}
.ans-attach-ct .ans-job-icon i{width:137px;height:22px;background:url(../../css/job-status-new.png) no-repeat; clear:both; background-size: 100%;display: inline-block;}
.ans-attach-ct .ans-job-icon.job-icon-en i{background:url(../../css/job-status-new-en.png) no-repeat;background-size: 100%;display: inline-block;}
.ans-attach-ct.ans-job-finished .ans-job-icon i{background-image:url("../../css/job-status-new-complete.png");}
.ans-attach-ct.ans-job-finished .ans-job-icon.job-icon-en i{background-image:url("../../css/job-status-new-complete-en.png");}
.ans-attach-ct .ans-job-icon-clear{width:auto;background: none !important;margin-bottom: 10px;position: relative;text-align: left;}
.ans-attach-opts{height:40px;line-height:40px;font-size:12px;color:#999999;background: #fff;}
.ans-insertvideo-module .ans-attach-out{float:left;}
.ans-attach-opts label{margin-left:6px;cursor:pointer;}
.ans-attach-opts .ans-btn-group{border: 1px #ccc solid; border-radius: 2px;padding: 2px 0;margin: 0 5px}
.ans-attach-opts .ans-btn-group span{padding: 2px 4px;}
.ans-attach-opts .ans-btn-group span.mid{border-left: 1px #ccc solid; border-right: 1px #ccc solid}
.ans-attach-opts .ans-btn-group span.cur{background: #ccc;color: #fff;}
.ans-attach-out{color:#999999;font-size:12px;float:right;margin-right:6px;position:relative;top:3px;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
.ans-iframe-retract.retract{padding-left:16px;background:url(default/images/retract.png) no-repeat left;}
.ans-iframe-retract.spread{padding-left:16px;background:url(default/images/spread.png) no-repeat left;}
.ans-book .ans-attach-out{position:absolute;left:398px;top:0;z-index:1000;}
.ans-book .ans-book-timing{ position: absolute;left:398px;top: 24px;z-index: 1000;font-size: 12px;color:#999999}
.ans-attach .ans-attach-out.ans-attach-info{margin-left:20px;}
.ans-attach-dd{background:#f6f6f6;border-bottom:#e9e9e9 1px solid;}
.ans-delete{cursor:pointer;display:block;height:12px;position:absolute;right:6px;top:6px;width:12px;background:url(default/images/close-hover.png) no-repeat center;}
.ans-delete:hover{background:url(default/images/close.png) no-repeat center;}
.ans-attach-docx,.ans-attach-ppt,.ans-attach-pptx,.ans-attach-pdf{background:url(../../css/ans-command-insertdoc.png) no-repeat left center;}
.ans-attach-mp4,.ans-attach-mov,.ans-attach-mkv,.ans-attach-flv,.ans-attach-avi,.ans-attach-mpeg,.ans-attach-mpg,.ans-attach-rmvb, .ans-attach-3gp,.ans-attach-asf,.ans-attach-wmv,.ans-attach-vob,.ans-attach-f4v,.ans-attach-ape{background:url(../../css/ans-command-insertvideo.png) no-repeat left center;}
.ans-attach-mp3,.ans-attach-wav,.ans-attach-wv,.ans-attach-wma,.ans-attach-aac,.ans-attach-ac3,.ans-attach-aif,.ans-attach-arm,.ans-attach-flac,.ans-attach-m4a,.ans-attach-m4r,.ans-attach-mka,.ans-attach-mid,.ans-attach-mmf,.ans-attach-mpa,.ans-attach-mpc,.ans-attach-ogg,.ans-attach-pcm,.ans-attach-ra,.ans-attach-tta,.ans-attach-voc,.ans-attach-amr{background:url(../../css/ans-command-insertaudio.png) no-repeat left center;}
.ans-attach-swf{background:url(../../css/ans-command-insertflash.png) no-repeat left center;}
div.ans-cc iframe.ans-attach-online{width:calc(100% - 2px);height:542px;background-color:#fff;border:1px #ccc solid;overflow:hidden;min-width: 676px;}
div.ans-cc iframe.ans-attach-online-review{width:calc(100% - 2px);height: 90px;background-color:#fff;overflow:hidden;min-width: 676px;}
#contentDescriptionBox .ans-cc iframe.ans-attach-online{min-width:auto;}
body.ans-cc[contenteditable] iframe.ans-insertaudio-module.ans-attach-online{height:150px;width:435px;}
body.ans-cc[contenteditable] iframe.ans-insertmooc-module{height:21px;width:435px;}

body.ans-cc[contenteditable] iframe.ans-plugin-iframe{  border: 1px #ccc solid;border-radius: 3px;}

iframe.ans-insertvideo-online{height:537px;margin-left:0em;}
iframe.ans-attach-online.ans-book{height:600px!important;width:697px!important;}
iframe.ans-attach-online.ans-book-simple {height: 170px !important;width: 100% !important;border: 0 none !important;background: none !important;min-width: 100% !important;}
iframe.ans-attach-online.ans-flash{border: 0 none !important;}
iframe.ans-realplay{width:100%;height:240px;}
iframe.ans-attach-online.ans-insertaudio{height:130px !important;;width:100% !important;border: 0 none !important;margin-left: 2em;}
.ans-cc blockquote{background-color:#f2f2f2;text-indent:0;font-size:12px;line-height:18px;min-height:25px;clear:both;word-wrap:break-word;margin:0;padding:10px;}
.ans-cc blockquote pre{word-break:keep-all;margin:0;}
.ans-cc blockquote h2{clear:both;font-size:14px;line-height:18px;border:none;word-wrap:break-word;margin:10px 0 0;}
.ans-cc blockquote h3{clear:both;font-size:12px;line-height:18px;border:none;word-wrap:break-word;margin:10px 0 0;}
.ans-cc blockquote p{text-indent:0;margin:0 0 5px;}
body.ans-cc[contenteditable] blockquote.cmd-autoblockquote{border:#ccc 1px dashed;display:block;}
.ans-cc blockquote.cmd-autoblockquote{display:none;}
.ans-cc .blockquote-wrap blockquote.cmd-autoblockquote{display:block;padding-right:30px;}
.ans-cc .blockquote-wrap{position:relative;clear:both;margin:8px;}
.ans-blockquote-handle{position:absolute;background:url(../../css/word-icons.png) no-repeat;right:10px;top:10px;width:15px;height:18px;cursor:pointer;display:block;background-position:-69px -1053px;}
.ans-cc .blockquote-wrap.open .ans-blockquote-handle{background-position:-69px -1070px;}
.ans-cc .ans-mooc-link{display:block;}
.ans-mooc-link{background:url(../../css/word-icons.png) no-repeat;padding-left:25px;text-indent:0;}
.ans-mooc-link.ans-knowledge{background-position:0 -1208px;}
.ans-mooc-link.ans-discuss{background-position:0 -1235px;}
.ans-mooc-link.ans-qa{background-position:0 -1262px;}
.ans-cc .ans-noborder th,.ans-cc .ans-noborder td{border-color:transparent !important;}
.ans-cmp{height:40px;line-height:40px;}
.ans-cmp .ans-cmp-icon{background:url(../../css/editor-icons.png) -197px -356px;width:28px;height:40px;float:left;margin-left:8px;margin-right:5px}
.ans-cmp.ans-erya .ans-cmp-icon{background-position:-229px -356px;}
.ans-cmp.ans-insertbbs .ans-cmp-icon{background:url(../../css/ans-command-insertbbs.png) no-repeat center;}
.ans-cmp.ans-insertaddresource .ans-cmp-icon{background:url(../../css/insertaddresource.png) no-repeat center;}
.ans-cmp.ans-work .ans-cmp-icon{background:url(../../css/ans-command-work.png) no-repeat center;}

.ans-cmp.ans-work2 .ans-cmp-icon{background:url(../../css/ans-command-work2.png) no-repeat center;}
.ans-cmp.ans-questionnaire .ans-cmp-icon{background:url(../../css/ans-command-questionnaire.png) no-repeat center;}
.ans-cmp.ans-realplay .ans-cmp-icon{background:url("../../css/ans-command-realplay.png") no-repeat scroll center center rgba(0,0,0,0);}
.ans-cmp.ans-ballchart .ans-cmp-icon{background:url("../../css/ans-command-ballchart.png") no-repeat scroll center center rgba(0,0,0,0);}
.ans-cmp.ans-resource3d .ans-cmp-icon{background:url("../../css/3dZy.png") no-repeat scroll center center rgba(0,0,0,0);background-size: 100%;}
.ans-cmp.ans-resourceQj .ans-cmp-icon{background:url("../../css/qjzy.png") no-repeat scroll center center rgba(0,0,0,0);background-size: 100%;}
.ans-cmp-work-edit{margin-left:10px;float:left;background:url(default/images/work-edit.png) no-repeat left;padding-left:14px;color:#999!important;cursor:pointer;}
.ans-cmp-work-edit0{background:#7B9131;border-radius:3px;color:#FFFFFF !important;cursor:pointer;float:left;height:24px;font-size: 14px;line-height:24px;margin-left:10px;margin-top:6px;text-align:center;padding: 0 10px;}
.mgl10{margin-left:10px;}
.ans-cc .ans-formula-moudle{vertical-align:middle;margin:0 !important;padding:0 !important;}
.ans-attach-ct,.ans-img-wrap,.ans-img-wrap *{text-indent:0;}
.ans-attach-innervideo{width:534px;height:314px;margin:0 15px;}
.ans-attach-innerdoc{width:534px;height:402px;margin:0 15px;}
.ans-attach-innerrealplay{width:534px;height:210px;margin:0 15px;}
.ans-attach-innerballchart{width:630px;height:400px;margin:0 6px;}
.ans-attach-innerflash{width:534px;height:314px;margin:0 15px;}
.ans-attach-inneraudio{width:534px;height:130px;margin:0 15px;}
.ans-resource3d-module,.ans-resourceQj-module{height: 490px !important;width: 630px !important;}
.ans-resource3d-retract,.ans-resourceQj-retract{height: 80px !important;width: 568px !important;}
.ans-attach-resource3d,.ans-attach-resourceQj{width: 554px;height: 400px;margin: 0 6px;}
.ans-work-amount{float:right;margin-right:6px;}
.ans-book-title{color: #D7D7D7;text-align: right;width: 725px;font-size: 12px;}
.record{width: 786px;margin: 0 auto;font-size: 13px;line-height: 34px;color:#333;height: 34px;}
.record a{padding-left:  20px;color: #7aa02e;text-decoration: none;float:right;}
.ans-cmp-live-show{float:left;margin-left:10px;color:#999!important;cursor: pointer;}
.downloadfile{margin-bottom:1em;}
.sizhengContent{display:block;background: #FFF0E0;padding: 40px;position: relative;width: 100%;margin-bottom:40px;box-sizing: border-box}
.view .sizhengContent{left:0;}
body.ans-cc .sizhengContent iframe.ans-module{position:relative;left: -57px;}
.sizhengContent img{max-width:100%;height:auto;}
.view .sizhengContent img{position:relative;left: -2em;}
.sizhengContent:before{display:block;content:"";position:absolute;width:58px;height:32px;background:url(/ananas/css/sizheng.png) no-repeat left center;top:0;right:0;}
.ans-iSearch-title{padding: 0 15px;display: block;width: 600px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.ans-cmp.ans-iSearch .ans-cmp-icon{background:url("/ananas/css/iSearch.png") no-repeat scroll center center rgba(0,0,0,0);background-size: 100%;}
.ans-attach-doc-replace{float: right;margin-top:6px; margin-left:10px;margin-right: 36px;width: 60px;height: 25px;font-size:12px!important;font-weight:400!important;cursor: pointer;border: 1px solid #7593C2;border-radius: 3px;line-height: 25px;text-align: center;color: #2C579A!important;font-family: PingFang SC;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fr{float:right;}
.fl{float:left;}
.ml20{ margin-left:20px !important;}
.ml30{ margin-left:30px !important;}
body.ans-cc iframe.ans-module.ans-insertclasstask-module,body.ans-cc iframe.ans-module.ans-insertcustom-module,body.ans-cc iframe.ans-module.ans-hyperlink-module,body.ans-cc iframe.ans-module.ans-knowledgeGraph-module{height:200px;border:solid #E2EAF0 1px!important;}
.insertAftar_head{ height:50px; background:#F6F9FB;}
.insertAftar_container{ height:50px; padding:0 20px;}
.insertAftar_container .ed_btn{ margin:11px 0 0 20px;}
.insertAftar_title{ height:50px; line-height:50px!important; padding-left:0px!important; font-size:14px!important; color:#181E33; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.insertAftar_size{ margin-left:10px; font-size:12px; color:#A8A8B3;}
.insertAftar_dele{ width:18px; height:18px; margin:16px 0 0 20px; background:url(/ananas/css/insertAftar_dele.png) no-repeat center/18px; display:block;}
.insertAftar_dele:hover{background:url(/ananas/css/insertAftar_dele.png) no-repeat center/18px;}
.ed_btn{ height:28px; line-height:28px; display:block; box-shadow:0 3px 12px 0 rgba(39,125,255,0.30); color:#FFFFFF!important; text-align:center; border-radius: 20px;}
.ed_btn_60{ width:60px; background:url(/ananas/css/insertAftar_bnt.png) no-repeat 0 0/100px auto;}
.ed_btn_60:hover{ background:url(/ananas/css/insertAftar_bnt.png) no-repeat 0 -30px/100px auto;}
.ed_btn_60:active{ background:url(/ananas/css/insertAftar_bnt.png) no-repeat 0 -60px/100px auto;}
.ed_btn_84{ width:84px; background:url(/ananas/css/insertAftar_bnt.png) no-repeat 0 -90px/100px auto;}
.ed_btn_84:hover{ background:url(/ananas/css/insertAftar_bnt.png) no-repeat 0 -120px/100px auto;}
.ed_btn_84:active{ background:url(/ananas/css/insertAftar_bnt.png) no-repeat 0 -150px/100px auto;}
.insertAftar_sky{ line-height:20px; margin:15px 0 0 20px;}
.insertAftar_sky a:hover{ opacity:.7;}
.insertAftar_body{ background:#FFFFFF; height:50px; font-size:14px; color:#646873; border-top:solid #EDF2F6 1px;}
.insertAftar_arrow{ line-height:20px; margin:15px 0 0 0;}
.insertAftar_arrow:after{ content:''; display:inline-block; width:12px; height:12px; background:url(/ananas/css/insertAftar_arrow.png) no-repeat center/12px; vertical-align:middle; margin:0 0 3px 4px;}
.insertAftar_arrow:after{ -webkit-transition:all .2s linear; -moz-transition:all .2s linear; -ms-transition:all .2s linear; -o-transition:all .2s linear; transition:all .2s linear;}
.insertAftar_arrowUp:after{ -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg);}
.insertAftar_label{ line-height:20px; margin:15px 0 0 0;}
.crCheck{ width:18px; height:18px; margin:0 10px 3px 0; display:inline-block; overflow:hidden; background:url(/ananas/css/dx_check.png) no-repeat; vertical-align:middle;}
.crChecked{ background:url(/ananas/css/dx_checked.png) no-repeat;}
.crCheck_disabled{ background:url(/ananas/css/dx_check_disable.png) no-repeat;}
.crCheck input{ width:18px; height:18px; opacity:0;}
.insertAftar_watch{ display:inline-block; line-height:50px; display:table;}

.ts-enclosure{ padding:14px 16px; height:42px; margin:10px 20px; background:#F7F8FA; cursor:pointer;box-sizing: content-box!important;-webkit-box-sizing: content-box!important;}
.ts-enclosure img{ width:42px; height:42px; margin:0 14px 0 0 !important; border-radius:4px; float:left;}
.ts-enclosure dl{}
.ts-enclosure dt{ max-width:434px; line-height:20px; font-size:14px; color:#181E33; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ts-enclosure dd{ max-width:434px; line-height:18px; font-size:12px; color:#A8A8B3; margin-top:4px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.ts-enclosure:hover{ background:#F5F7FC;}
.ts-enclosure:hover dt{ color:#3A4B87;}
.ts-enclosure:hover dd{ color:#C7C8D4;}
.ts-enclosure.hyperlink dt{line-height:42px;}


.ans-cc .note_Div{width:364px;padding:14px;box-sizing:border-box;background: #FFFFFF;border: 1px solid #D8DADE;box-shadow: 0px 4px 8px rgba(97, 97, 97, 0.14);
border-radius: 6px;position:absolute;line-height:20px;max-width: none!important;}
.ans-cc .note_Div p{color: #131B26;font-size:14px;margin-bottom:10px;}
.note_div_icon span{display:inline-block;width:20px;height:20px;margin-right:10px;cursor:pointer}
.icon_edit{background:url(default/images/icon_edit.png) no-repeat;background-size:100% 100%}
.icon_del{background:url(default/images/icon_del.png) no-repeat;background-size:100% 100%}

.note_div_icon{position:relative}
.note_img_con{overflow:hidden;}
.note_img_con span{display:inline-block;border: 2px solid #E1E1E5;border-radius: 2px;overflow:hidden;margin:0 10px 10px 0;}
.note_img_con span img{display:block;width:70px;height:70px;object-fit: cover;}
.link_con{border-top:1px solid #EAEAEA;margin-top:6px;padding-top:10px;}

.note_Div p.link_hidden{display:block;width:230px;color: #474C59;font-size: 12px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis; overflow: hidden;margin-right:14px;}
.icon_set{background:url(default/images/icon_set.png) no-repeat;background-size:100% 100%}
.cart_patt{width: 122px;padding: 6px 0;background: #FFFFFF;box-shadow: 0px 2px 12px rgba(175, 187, 204, 0.75);border-radius: 6px;position: absolute;right: -60px;top: 30px;display: none;font-family: auto, 微软雅黑, Serif !important;}
.cart_patt p{color: #8A8B99;font-size: 14px;line-height:40px;padding:0 12px;}
.cart_patt ul li{line-height:40px;text-align:center;}
.cart_patt ul li a{color: #646873;font-size: 14px;}

.cart_patt ul li.cur_card{background:#F0F6FF}
.cart_patt ul li.cur_card a{color:#3B90FF}
.cart_patt ul li a i{display:inline-block;width:16px;height:16px;background:url(default/images/cur_select.png) no-repeat;background-size:100% 100%;vertical-align:middle;margin-right:10px;display:none}
.cart_patt ul li.cur_card a i{display:inline-block}

.link_iframe_card_div{width:100%;border: 1px solid #E2EAF0;border-radius: 0px 0px 2px 2px;}
.link_iframe_card_tit{width:100%;height:50px;background: #F6F9FB;padding:0 20px;box-sizing:border-box;}
.link_iframe_inner{width:88%;color: #131B26;font-size:14px;line-height:50px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis; overflow: hidden;text-indent:0;}
.link_iframe_icon{display:inline-block;width:24px;height:24px;vertical-align:middle;margin-right:10px;background:url(default/images/link.png) no-repeat;background-size:100% 100%}
.link_iframe_closePic{display:none;width:18px;height:18px;margin-top:16px;background:url(default/images/link-close.png) no-repeat;background-size:100% 100%;}
.relativeClass{position: relative}

.card_tit .jb_btn{margin-right:20px;margin-top:12px;}
.card_Box{background:#fff;padding:16px 20px;    border-top: 1px solid #E2EAF0;}
.stow_btn{color: #91A0B5;font-size:14px;display:inline-block;cursor:pointer}
.stow_btn i{display:inline-block;width:12px;height:12px;vertical-align:middle;margin:-2px 0 0 5px;background:url(/ananas/ueditor/dialogs/link/img/arrowUp.png) no-repeat;background-size:100%;}
.openBox i{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.card_Box_tpoint{font-size:14px;color: #646873;display:inline-block;padding-left:20px;}
.card_Box_tpoint b{font-size:12px;color: #8A8B99;}
.card_Box_tpoint span.P_check{display:inline-block;width:18px;height:18px;vertical-align:middle;margin:-2px 10px 0 0;background:url(/ananas/ueditor/dialogs/link/img/dx_check.png) no-repeat;background-size:100%;cursor:pointer}
.card_Box_tpoint span.P_checked{background:url(/ananas/ueditor/dialogs/link/img/dx_checked.png) no-repeat;background-size:100%}

.jb_btn{display:inline-block;box-shadow: 0 3px 12px 0 rgba(39,125,255,0.30);color: #FFFFFF!important;text-align:center;line-height:36px;border-radius: 20px;}
.jb_btn_60{width:60px;height:28px;background:url(/ananas/ueditor/dialogs/link/img/jb_btn_60.png) no-repeat 0 0;line-height:28px;}
.jb_btn_60:hover{background-position:0 -28px;}
.jb_btn_60:active{background-position:0 -56px}
.jb_btn_84{width:84px;height:28px;background:url(/ananas/ueditor/dialogs/link/img/jb_btn_84.png) no-repeat 0 0;line-height:28px;}
.jb_btn_84:hover{background-position:0 -28px;}
.jb_btn_84:active{background-position:0 -56px}

.card_div{width:100%;border: 1px solid #E2EAF0;border-radius: 0px 0px 2px 2px;}
.card_tit{width:100%;height:50px;background: #F6F9FB;padding:0 20px;box-sizing:border-box;}
.link_inner{width: calc(100% - 250px);color: #131B26;font-size:14px;line-height:50px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis; overflow: hidden;}
.card_link_icon{display:inline-block;width:24px;height:24px;vertical-align:middle;margin-right:10px;}
.card_link_icon img{display:block;width:100%;height:100%;}
.closePic{display:inline-block;width:18px;height:18px;margin-top:16px;}
.closePic img{display:block;width:100%;height:100%;}

.insertAftar_label-input:checked{
	background: url(/ananas/css/dx_checked.png) no-repeat;
	background-size: 100%;
}

.insertAftar_label-input{
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin: -2px 10px 0 0;
	background: url(/ananas/css/dx_checked.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
}
.disPlayNone{
	display: none;
}

body.ans-cc iframe.ans-module.openBoxHeight{height:130px!important;border:solid #E2EAF0 1px!important;}
.stow_btn_b {
	color: #91A0B5;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
	line-height: 20px;
	margin: 15px 0px 0px;
}

.card_link_style {
	width: calc(100% - 250px);
	color: #131B26;
	font-size: 14px;
	line-height: 50px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.padding_font {
	padding-left:20px;color:#91A0B5;
}

.tip_font {
	font-size: 12px;: #8A8B99;: inline-block;color: #91A0B5;
}

.height600{
	height: 500px!important;
}

.height570{
	height: 570px!important;
}

.height100{
	height: 100px!important;
}

.height130{
	height: 130px!important;
}

pre,code {display: block;background: #F7F8FA;border: 1px solid #E1E3E5; font-size: 14px; border-radius: 4px; padding: 30px 20px; margin: 20px 0; font-family: CXHackSafariFont,CXEmojiFont,CXChineseQuote,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Tahoma, Arial,Segoe UI,PingFang SC, Hiragino Sans GB,Microsoft YaHei,sans-serif,Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,Noto Color Emoji; }
pre{overflow-x: auto}
pre.autolinebreak{white-space: normal; }
code.hljs{background: #F7F8FA;}
pre code,pre pre{ padding: 0;margin: 0; background: none;border: none;}

.ans-cc pre,.ans-cc code{ position: relative; padding: 30px 20px; margin: 20px 0;border: 1px solid #E1E3E5; border-radius: 4px; color: #474C59; background: #F7F8FA; font-size:14px; font-family: CXHackSafariFont,CXEmojiFont,CXChineseQuote,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Tahoma, Arial,Segoe UI,PingFang SC, Hiragino Sans GB,Microsoft YaHei,sans-serif,Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,Noto Color Emoji;line-height: 1.5;}
.ans-cc pre{overflow: auto}
.ans-cc pre code,.ans-cc pre pre{ padding: 0; border:none; margin: 0; background: none;border-radius: 0;}
.ans-cc pre.autolinebreak{white-space: pre-wrap;word-wrap: break-word;}
.hljs-ln-numbers {text-align: center;color: #ccc;border-right: 1px solid #CCC;vertical-align: top;padding-right: 5px !important;}
.hljs-ln-code {padding-left: 5px !important;}
.ans-cc .ans-justifyleft{margin:0;float: left;}
.ans-cc .ans-justifycenter{margin:0 auto!important;float: none;}
.ans-cc .ans-justifyright{margin:0;float: right;}
.ans-cc .tableContainer{width:100%;overflow: auto;}
.ans-cc .tableContainer::-webkit-scrollbar { width: 8px;height:8px;}
.ans-cc .tableContainer::-webkit-scrollbar-thumb {border-radius: 20px;background-color: #DADFE5;}
.ans-cc .MathJax{font-size:100%!important}


/**2024-07-16-新添**/
.video-file-modularTitle {
	height: 48px;
	background: #F6F9FB;
	padding: 0 20px;
	border: solid 1px #E2EAF0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.video-file-modularTitle .modularTitle_left {
	display: flex;
	align-items: center;
}

.video-file-modularTitle .modularIcon {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 10px
}

.video-file-modularTitle .modularIcon img {
	width: 100%
}

.video-file-modularTitle .modularName {
	display: inline-block;
	max-widht: 60%;
	font-size: 14px;
	color: #181E33
}

.video-file-modularTitle .modularVideoTime {
	height: 19px;
	line-height: 19px;
	padding: 0 10px 0 20px;
	background: url(/ananas/images/moVideoTime.png) no-repeat 10px center;
	background-size: 6px 6px;
	font-size: 12px;
	color: #8A8B99;
	background-color: #E9EFF3;
	border-radius: 100px;
	margin-left: 10px
}

.video-file-modularTitle .modularArr {
	font-size: 14px;
	color: #6B89B3;
	cursor: pointer
}

.video-file-modularTitle .modularArr i {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(/ananas/images/modularArr.png) no-repeat;
	background-size: 100%;
	vertical-align: middle;
	transform: rotate(-180deg)
}

.video-file-modularTitle .slideDown i {
	transform: rotate(0deg)
}
/*图片并排*/
.ans-cc .image_layout{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0;
}
.ans-cc .image_layout img{
	height: 100%;
	width: auto!important;
}
.ans-cc .image_wrap{
	padding: 6px;
	margin: 0 2px;
	border-radius: 4px;
	text-align: center;
	position: relative;
}
.ans-cc .image_wrap .img_box{
	clear: both;
}

.ans-cc .image_wrap[hasdesc="true"]:hover{
	background: #F7F8FA;
}
/*.ans-cc .image_wrap:hover .img_tool{*/
/*	display: flex;*/
/*}*/
.ans-cc .image_layout .image_wrap img[_src]{
	width: 100%;
}
.ans-cc .image_wrap .img_tool{
	display: none;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: -38px;
	left: 0;
	flex-direction: row;
	width: 273px;
	height: 42px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 2px 12px 0px #00255933;
	cursor: pointer;
}
.ans-cc .image_wrap .img_tool .img_item{
	color: #474C59;
	font-size: 14px;
}
.ans-cc .image_wrap .img_tool .img_item:hover{
	color: #3a8bff;
}
.ans-cc .image_wrap .img_desc {
	font-size: 16px;
	line-height: 28px;
	display: inline-block;
	word-break: break-word;
	width: 100%;
}
.ans-cc .image_wrap p{
	text-indent: 0;
	text-align: center;
}

/*高亮块*/
.ans-cc .callout-block{
	position:relative;
	display: flex;
	align-items: start;
	background: rgb(255, 251, 230);
	padding: 16px;
	margin: 20px 0;
	border: 1px solid rgb(255, 251, 230);
	border-radius: 4px;
}
.ans-cc .callout-block p {
	text-indent: unset;
	line-height: 1.75;
}
.ans-cc .callout-icon{
	position: relative;
	display: inline-flex;
	display: -webkit-inline-flex;
	justify-content: center;
	width: 28px;
	height: 28px;
	margin-right: 10px;
	text-align: center;
	background: url(/ananas/new-editor/images/callout-icon.png) center center / 20px 20px no-repeat;
	user-select: none;
	cursor: pointer;
}
.ans-cc .callout-inner{
	font-family: EmojiMart, "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
	font-size: 16px;
	line-height: 1.75;
}
.ans-cc .callout-icon:hover,.callout-icon.active{
	background-color: #EBEEF2;
	border-radius: 4px;
}
.ans-cc .callout-text {
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;
	flex: 1;
}
.ans-cc .callout-text>*:first-child{
	margin-top: 0;
}
.ans-cc .image_wrap:after{
	content:"";
	display:table;
	clear:both
}
.ans-cc .ans-latex-moudle.errorLatexImg{width:100px}
.ans-cc .openVideoInterpretFrame{max-width:none!important;}

.linkOption{box-shadow: 0px 2px 12px 0px #AFBBCCBF;background: #FFFFFF;border-radius:6px;position:absolute;padding:10px;left:0;bottom:38px;display:none}
.linkOption span{display:inline-block;vertical-align:middle;width:22px;height:22px;margin-right:14px;cursor:pointer;border-radius:2px}
.linkOption span:last-child{margin-right:0}
.linkOption span:hover{background-color:#F0F6FF !important}
.linkOption span.linkSetting{background:url(/ananas/new-editor/images/linkSetIcon.png) no-repeat center;background-size:22px;}
.linkOption span.linkDelet{background:url(/ananas/new-editor/images/linkDeletIcon.png) no-repeat center;background-size:22px;}
.chaperLinkBx:hover .linkOption{display:block}

.chapter-link{position:relative}
.chapter-link::before{
	content:'';
	display:inline-block;
	width:16px;
	height:16px;
	background: url(/ananas/css/chaperLink.png) no-repeat;
	background-size: 100%;
	margin-right:6px;
	vertical-align:middle;
}

/* 画廊样式 */
.ans-cc .gallery-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
	border-radius: 4px;
}
.ans-cc .gallery-wrap:hover {
  background-color: #f7f8fa;
}
.ans-cc .gallery-wrap * {
  box-sizing: border-box;
}
.ans-cc .gallery-wrap .gallery-main {
	width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 5px;
}
.ans-cc .gallery-wrap .gallery-main .gallery-image-wrap {
  width: calc(50% - 3px);
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.ans-cc .gallery-wrap .gallery-main .gallery-image-wrap>:first-child{
	width: 100%;
}
/* 单张居中  */
.ans-cc .gallery-wrap.single-center .gallery-main .gallery-image-wrap{
	width: 100%;
}
.ans-cc .gallery-wrap.single-center .gallery-main .gallery-image-wrap .ans-img-wrap{
	width: 100%;
}
.ans-cc .gallery-wrap .gallery-main .gallery-image-wrap .gallery-image-title {
  color: #474c59;
  line-height: 28px;
  text-align: center;
  word-break: break-all;
  font-size: 16px;
}
.ans-cc .gallery-wrap .gallery-main .gallery-image-wrap img {
  width: 100%;
  cursor: pointer;
  border: 1px solid #f2f2f2;
}
.ans-cc .gallery-wrap .gallery-main > :only-child {
  width: 100%;
}
.ans-cc .gallery-wrap .gallery-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 28px;
}
.ans-cc .gallery-wrap .gallery-bottom .gallery-title {
  font-size: 16px;
  color: #f28c24;
}
.ans-cc .gallery-wrap .gallery-bottom .gallery-img-num {
  background-color: #d5e2f1;
  border-radius: 4px;
  color: #8a8b99;
  font-size: 12px;
  padding: 2px 6px;
  height: 21px;
  line-height: 16.8px;
}
.ai-format-h1::before {
	content: '';
	width: 40px;
	height: 40px;
	background-image: url(/ananas/new-editor/images/title-decorate.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-right: 20px;
	flex: none;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

.ai-format-h1::after {
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: radial-gradient(67.91% 67.91% at 32.71% 15.42%, #ADD3FF 0%, #59B8F7 38.76%, #499FF5 76.56%);
	box-shadow: 5.93px 11.85px 13.33px 0px #0047C21A,
	0px 0px 9.63px 0px #FFFFFF inset;
	flex: none;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}

.ai-format-h2::before,
.ai-format-h2::before,
.ai-format-h4::before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	background-image: url(/ananas/new-editor/images/h-decorate.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

.ai-format-img {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	border-radius: 20px;
	margin: 10px 0;
	background-image: linear-gradient(30deg, #CFE1FC 0%, #CFE1FC 55%, #B5E6FF 75%, #84C0FF 100%);
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: 100% 100%;
	border: 1px solid #B5E6FF;
	box-shadow: 0px 0px 50px 0px #92D3FE14 inset;
	position: relative;
}

.ai-format-img > img {
	content: " ";
	display: block;
	width: 100%;
	height: auto;
	border-radius: 20px;
	position: relative;
	z-index: 1;
}

.ai-format-img::after {
	content: '';
	display: block;
	width: 3.33vw !important;
	height: 3.33vw !important;
	visibility: visible !important;
	border-radius: 50%;
	background: radial-gradient(72.37% 84.58% at 32.71% 15.42%, #ADD3FF 0%, #59B8F7 38.76%, #499FF5 76.56%);
	box-shadow: 6.61px 13.22px 14.87px 0px #0047C21A,
	0px 0px 19.83px 0px #FFFFFF inset,
	0px 3.3px 3.3px 0px #FFFFFF40 inset,
	6.61px 6.61px 19.83px 0px #FFFFFF99 inset;
	position: absolute;
	bottom: 8px;
	right: 6px;
	z-index: 2;
}
.crossRefer {
	border-bottom: solid 2px #3A8BFF;
}
