body{background:#ededef;min-width: 1300px;}
.left{margin-right:310px;height:100px;}
.content{width:930px;height:100px;margin:0px auto;}
.main{background:#fff;padding-bottom:60px;position:relative;min-height:750px;}
.goback{font-size:14px;height:45px;line-height:45px;color:#555}
.goback span{background:url(../../images/courselist/playbg.png) -29px -46px;width:9px;height:16px;display:inline-block;margin-bottom:-2px;}
.main h1{font-size:18px;color:#333;text-align:center;padding:45px 0px;}
.tabtags{text-align:center;border-bottom:1px solid #c9c9c9;margin-bottom:50px;height: 37px}
.tabtags span{height:36px;line-height:36px;border-radius:10px 10px 0px 0px;display:inline-block;width:118px;border:1px solid #c2c2c2;border-bottom:0px;background:#e8e8e8;text-align:center;cursor:pointer;position:relative;left:0px;top:0px;overflow: hidden;}
.tabtags b{width:19px;height:19px;margin-right:5px;margin-top:10px;line-height:19px;display:inline-block;text-align:center;color:#fff;border-radius:19px;background:#999}
.tabtags span.currents{background:#fff;top:1px;}
.tabtags span.currents b{background:#7B9E31}
.taskpoint{font-size:14px;height:17px;line-height:17px;padding:20px 35px;margin-left:20px;}
.taskpoint span{background:url(../../images/courselist/bg.png) -44px -63px;width:17px;height:17px;float:left;margin-right:8px;display:inline-block}
.displaycontent{width:820px;margin:0px auto;}
.orientationleft{cursor:pointer;width:20px;height:30px;background:url(../../images/courselist/bg.png) 0px -136px;position:absolute;left:45px;margin-top:0;bottom:10px}
.orientationright{cursor:pointer;width:20px;height:30px;background:url(../../images/courselist/bg.png) -21px -136px;position:absolute;right:45px;margin-top:0;bottom:10px}
.orientationright1{cursor:pointer;position:absolute;right:30px;margin-top:-15px;top:273px;color: rgb(123, 158, 49); cursor: pointer; text-decoration: underline; width: 60px; height: 30px; margin-top: 25px; margin-left: -30px;display:none;}
.gohead{background:url(../../images/courselist/bg.png) 0px -167px;position:absolute;right:10px;width:27px;height:41px;}
.nextprev{text-align:center;margin-top:100px;}
.nextprev .prevs{width:90px;height:45px;line-height:45px;background:#fff;border-radius:20px 0px 0px 20px;display:inline-block;font-size:14px;margin-right:1px;}
.nextprev .prevs .lefttriangle{height:0px;width:0px;font-size:0px;display:inline-block;overflow:hidden;
border-top:6px solid #fff;border-right:6px solid #333;border-bottom:6px solid #fff;margin-right:5px}
.nextprev .nexts{width:90px;height:45px;line-height:45px;background:#fff;border-radius:0px 20px 20px 0px;display:inline-block;font-size:14px;}
.nextprev .nexts .righttriangle{height:0px;width:0px;font-size:0px;display:inline-block;overflow:hidden;
border-top:6px solid #fff;border-left:6px solid #333;border-bottom:6px solid #fff;margin-left:5px}
.right{position:fixed;right:0px;top:0px;width:303px;border-left:7px solid #504f55;}
.tabs .lists{border-bottom:2px solid #999;background:#000}
.tabs .lists li{float:left;width:90px;height:45px;line-height:45px;background:#000;color:#fff;text-align:center;font-size:16px;cursor:pointer}
.tabs .lists li.current01{background:#999;}
.thiscontent{display:none}
.chapter{background:#f2f2f6 ;padding-top:5px;overflow-y:auto}
/**.chapter{background:#f2f2f6 url(../../images/courselist/player1-1.png) 55px 0px repeat-y;padding-top:5px;overflow-y:auto}**/
.onetoone{padding-bottom: 33px;}
.cells h3{color:#555;font-weight:normal;padding-top:5px;font-size:16px;}
.cells h3 .bgicon{background:url(../../images/courselist/playbg.png);width:38px;height:28px;line-height:28px;display:inline-block;font-size:13px;}
.cells h3 .bgicon span{width:20px;height:20px;line-height:20px;text-align:center;margin:4px 0px 0px 14px;display:inline-block;}
.cells h3 .titlewords{margin-left:4px;}
.ncells{display:none;}
.ncells h4:hover,.ncells h5:hover{background:#ccc;cursor:pointer}
.ncells h4.currents,.ncells h5.currents{background:#7b9e31;color:#fff}
.ncells h4.currents a{color:#fff}
.ncells h4{font-weight:normal;color:#000;height:17px;line-height:17px;font-size:14px;padding:5px 0px}
.ncells .roundpoint{vertical-align:text-bottom;background:url(../../images/task.png)  no-repeat 0px 0px;text-align:center;font-size:13px;color:#fff;width:17px;height:17px;display:inline-block;margin:0;float:right;position:absolute;z-index:10;right:15px;}
.ncells .roundpointStudent{vertical-align:text-bottom;background:url(../../images/task.png)  no-repeat 0px 0px;text-align:center;font-size:13px;color:#fff;width:17px;height:17px;margin:0;float:right;position:absolute;z-index:10;right:15px;}
/**background:url(../../images/courselist/playbg.png) 0px -28px;**/
.ncells h5 .roundpointStudent{vertical-align:text-bottom;text-align:center;font-size:13px;color:#fff;width:17px;height:17px;display:inline-block;margin:0;}
.ncells .blue{background:url(../../images/courselist/jobfinished.png) left center no-repeat;}
.ncells .orange01{background: #ff7a38;border-radius: 17px;}
.ncells .lock{background:url(../../images/courselist/playbg.png) -21px -111px;}
.ncells .review{background:url(../../mooc2/images/icon-review.png)  no-repeat center/20px auto;}
.ncells h4 .chapternumber{color:#999;font-size:12px;width:35px;display:inline-block;text-align:right}
.ncells h4.currents .chapternumber{color:#fff} 
.ncells h5{font-weight:normal;color:#000;font-size:14px;padding:5px 0px}
.cells h3,.ncells h4,.ncells h5{position:relative}
.knowledgeOpenBtn{float:left;width:24px;height:22px;margin-right:6px;cursor: pointer;margin-top:5px}
.knowledgeCloseBtnImg{background:url(../../images/courselist/knowledgeCloseBtn.png) no-repeat center center;}
.knowledgeOpenBtnImg{background:url(../../images/courselist/knowledgeOpenBtn.png) no-repeat center center;}
.knowledgeOpenCurBtnImg{background:url(../../images/courselist/knowledgeOpenCurBtn.png) no-repeat center center;}
.mt4{margin-top:0}
.discuss{background:#f2f2f6;padding-bottom:10px;overflow-y:auto}
.words{padding:10px 0px 0px 10px;}
.headimages{border-radius:24px;float:left;margin-right:8px;}
.inputwords{width:235px;padding-left:0px;height:28px;line-height:28px;border:1px solid #ddd;border-radius:1px;}
.aquestion{margin-top:12px;line-height:24px;padding:0px 10px;}
.aquestion .publishname{font-size:14px;color:#333;margin-right:4px;}
.aquestion .labels{background:#0367b0;border-radius:3px;color:#fff;padding:1px 5px;margin-right:5px;}
.aquestion .publishtime{font-size:12px;color:#999}
.aquestion h3{font-size:16px;color:#59657d;font-weight:normal;padding-left:32px;}
.aquestion h3 .jinghua{width:33px;height:17px;display:inline-block;background:url(../../images/courselist/bg.png) 0px -77px}
.aquestion p{color:#555;margin-left:32px;margin-top:3px;}
.answer{padding-left:32px;}
.answerclick{margin-bottom:0px;}
.answer span{color:#85a547;cursor:pointer}
.nanserwrap{display:none}
.nanswer{border-left:1px solid #ccc;padding-left:8px;padding-bottom:10px;}
.hfk{border-left:1px solid #ccc;padding-left:8px;}
.line{border-bottom:1px solid #ccc;height:0px;line-height:0px;font-size:0px;margin:10px 0px;overflow:hidden;}
.richmedias{display: inline-block;width: 70px;float:Left}
.richmediat{display: inline-block;width: 70px;float:Left;margin-left: 30px;}
.talkarea{margin:20px 0px 60px;text-align:center}
.talkarea a{border:1px solid #ccc;background:#fcfcfc;padding:3px 8px;border-radius:2px;color:#555;}
.studentlist{padding-left:10px;}
.studentlist li{width:52px;float:left;text-align:center;margin:0px 12px 20px;}
.studentlist li img{margin-bottom:8px;}
.answer .praise{background:url(../../images/courselist/bg.png) -54px 0px no-repeat;padding-left:15px;margin-left:10px;display:inline-block;height:12px;line-height:12px;color:#555}
.answer .praise:hover{background:url(../../images/courselist/bg.png) -54px -12px no-repeat;}
.answer .parts{width:37px;height:17px;line-height:17px;background:#ccc;display:inline-block;border-radius:3px;float:right;color:#555;text-align:center;margin-top:4px;}
.submits{width:63px;height:25px;line-height:25px;display:inline-block;text-align:center;margin-right:5px;color:#fff;border-radius:3px;background:#7b9131;cursor:pointer;display: inline-block;}
.cancels{cursor:pointer;color:#999}
.choicemenu{position:relative;float:left}
.choicelist{position:absolute;}

/*.note{height:500px;background:url(../../images/courselist/30-30.png);padding:0px 10px;line-height:30px;overflow-y:auto}*/
.note h3{font-weight:normal;font-size:14px;color:#999;height:30px;line-height:30px;}
.writenote{height:500px;word-break:break-all;word-wrap:break-word;font-size:14px;}

.switchbtn{position:fixed;right:0px;top:6px;cursor:pointer;background:url(../../images/courselist/playbg.png) 0px -45px;width:24px;height:32px;z-index:1;}
.temptexarea{margin:6px 0px 5px 32px;border-width:1px;border-style:solid;border-color:#ddd;overflow:auto;resize:none;width:235px}
.askteacher{width:70px;height:25px;line-height:30px;vertical-align:baseline;float:left; margin-left: 40px;margin-right: 10px;}
.askteacher input{margin:7px 5px 0px 0px;float:left}
.cur{background:url(../../images/courselist/bg.png) -54px -12px no-repeat;padding-left:15px;margin-left:10px;display:inline-block;height:12px;line-height:12px;color:#555}

.dyIcon {
    background: url("../../images/courselist/icons.png") no-repeat scroll -36px top rgba(0, 0, 0, 0);
    display: inline-block;
    top:10px;
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
}
.zad729 {margin-left:310px;height:100px;}
.zad730 {position:fixed;left:0px;top:0px;width:303px;border-right:7px solid #504f55;}
.zad731 {position:fixed;left:279px;top:6px;cursor:pointer;background:url(../../images/courselist/playbg.png) 0px -78px;width:24px;height:32px;}

.flush{position:absolute;right:10px;top:7px;cursor:pointer}


/**2015-08-28**/
.smallImg{width:220px;margin-left:32px}
.smallImg a{float:left;width:150px;height:150px;}
.smallImg a img{width:55px;height:55px;border:1px solid #eee}
.bigImg{position:fixed;display:none;z-index:9999;max-width:100%;max-height:100%;overflow:auto}
.imgBg{background:#000;filter:alpha(opacity=70);opacity:0.7;width:100%;height:100%;position:fixed;top:0;left:0;display:none;z-index:999}

.loadImg{position:relative;float:left;margin-right:10px;margin-bottom:10px}
.loadImg a{display:none;position:absolute;width:20px;height:20px;background:url(../../images/group/x.png) no-repeat;background-size:100%;right:-7px;top:-7px}
.loadImg:hover a{display:block}

.zhiding{font-size:12px;color:#999}

.plDiv .hfpl{margin:20px 0 30px 0}
.inp02{width:390px;height:26px;border:solid 1px #ddd;background:#fff;border-radius:3px;padding:0 10px;color:#777}
.grenBtn{width:61px;height:26px;line-height:26px;background:#7b9e31;color:#fff;border:none;border-radius:3px;cursor:pointer;margin-left:10px}
.marLeft95{margin-top:15px;margin-bottom:15px;margin-left:95px !important;}
.marLeft{margin-top:10px;}
.zan i{display:inline-block;width:15px;height:15px;background:url(../../images/group/gIcons.png) no-repeat -75px top;margin:0 10px;float:left;margin-top:2px}
.zan:hover i{background-position:-96px top}