.popClose{display:inline-block;width:18px;height:18px;margin-top:19px}
.maskDiv.maskFadeOut { opacity: 1; visibility: visible; transition: opacity 0.3s ease 0s, visibility 0s ease 0s; z-index:9999;}
.popDiv { min-height: 100px; background: rgb(255, 255, 255); border-radius: 10px; position: fixed; overflow: hidden; }
.wid440 { width: 440px; max-height: 360px; }
.popHead { line-height: 60px; height: 60px; box-shadow: rgba(242, 242, 242, 0.8) 0px -1px 0px 0px inset; position: absolute; left: 0px; top: 0px; width: 100%; padding: 0px 30px; box-sizing: border-box; background: rgb(255, 255, 255); }
.popClose { display: inline-block; width: 18px; height: 18px; margin-top: 19px; }
.colorDeep { color: rgb(19, 27, 38); }
.het62 { width: 100%; height: 60px; }
.colorIn { color: rgb(100, 104, 115); }
.fs16 { font-size: 16px; }
.popWord2 { padding: 26px 30px; }
.popBottom { width: 100%; height: 53px; background: rgb(255, 255, 255); position: absolute; left: 0px; bottom: 0px; padding-top: 17px; }
.het72 { width: 100%; height: 72px; }
.edui-default .edui-editor{width:100%!important}
.bluebtn{display:inline-block;height:28px;line-height:25px;padding:0 10px;background:#7b9e31;font-size:14px;color:#FFF;border-radius:3px;}
.bluebtn:hover{background:#8cb833;}
.AlertCon02{width:528px;height:238px;border:solid 1px #c5c5c5;background:#FFF;padding:10px}
.closed02{width:14px;height:14px;background:url(../../space/new/moocIndex/images/closePng.png) no-repeat left center;margin-top:3px;}
.con03{padding:20px;text-align:center;font-size:16px;color:#202020;}
.DySearch{padding-top:15px;height:42px}
.DySearch .DySeleft{width:284px;height:28px;border:solid 1px #e1e1e1;font-size:12px;color:#555;}
.DySearch .DySeleft .Inp{width:240px;height:27px;padding:0 5px;line-height:27px;border:none;border-right:0;border-bottom:0;background:#fcfcfc;font-family:Microsoft YaHei; float:left;}
.DySearch .DySeleft .sub{width:29px;height:28px;border:none;background:url(../images/icons.png) left -116px no-repeat;cursor:pointer; float:right;}
.marTop20{margin-top:20px;}
.marTop30{margin-top:30px;}
.back_to_top a{display:inline-block;width:40px;height:40px;overflow:hidden;background:url(../images/backtotop2.png)-40px 0px no-repeat;-webkit-transition:opacity 0.3s 1s, visibility 0.3s 1s;transition:opacity 0.3s 1s, visibility 0.3s 1s;}
.back_to_top:hover .DownloadaHover{display:block; opacity:1; visibility:visible;}
.back_to_top a:hover{background-position:0px 0px}
.Note_name{ line-height:20px; font-size:14px; color:#3A8BFF; margin-bottom:14px;display: none;padding:0 10px;}
.Note_name:before{ content:''; display:inline-block; margin:-3px 8px 0 0; width:18px; height:18px; background:url(../../images/courselist/VectorIcon.png) no-repeat; vertical-align:middle;}
.dataSearch_chapter{ width:calc(100% - 40px); height:36px; border-radius:40px;position:relative;}
.dataSearch_input_chapter{ width:calc(100% - 76px); height:34px;font-size:14px; color:#131B26;  border:1px solid #D5D7D9;background:none;position:absolute;left:0;top:0;z-index:2;padding:0 62px 0 14px; border-radius:40px;font-family:microsoft Yahei;}
.dataSearch_input_chapter:hover,.dataSearch_chapter:hover .dataSearch_input_chapter{border:1px solid #3a8bff;}
.dataSearch_input_chapter:focus{outline:none;border:1px solid #3a8bff;}
.dataSearch_bnt_chapter{ width:16px; height:16px;background:url(../../mooc2/images/ico-search.png) no-repeat 0 0; background-size:16px auto; border:0 none; cursor:pointer;position:absolute;right:14px;top:50%;margin-top:-8px;z-index:3;outline:none; overflow:hidden;}
.dataSearch_input_chapter:hover+.dataSearch_bnt_chapter,.dataSearch_input_chapter:focus+.dataSearch_bnt_chapter,.dataSearch_chapter:hover .dataSearch_bnt_chapter{background-position:0 -20px; background-size:16px auto;}
.dataSearch_dele_chapter{ width:14px; height:14px; background:url(../../mooc2/images/search_dele.png) no-repeat center/14px; display:block; position:absolute; right:40px; top:50%; margin-top:-7px; display:none; z-index:3;}
input::-webkit-input-placeholder{color:#ACB4BF;}
input::-moz-placeholder{color:#ACB4BF;}
input:-moz-placeholder{color:#ACB4BF;}
input:-ms-input-placeholder{color:#ACB4BF;}
@supports (caret-color:#3a8bff) {
    .dataSearch_input_chapter{color:#131B26;caret-color:#3a8bff;}
}
.NoResult{padding: 325px 0 0;line-height: 20px;font-size: 14px;color: #8A8B99;text-align: center;}
.dataSearch_chapter_searchName{color: #3A8BFF;}
.webuploader-pick {background: url("../../mooc2/images/topic_addimg.png") no-repeat  center;padding: 0px;width: 27px;height: 27px; color: #333}
.webuploader-pick-hover {background: url("../../mooc2/images/topic_addimg.png") no-repeat  center;padding: 0px;width: 27px;height: 27px; color: #333}
#iframe{width:100%;}
#selector {z-index:100;position:fixed;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
#selector .spliter{height: 100%;top: 0;width: 7px;display: block;font-size: 0.1px;position: absolute;cursor: col-resize;}
#selector .spliter.west{left: -5px;}
#selector .spliter.east{right: -5px;}
.mask{z-index:999;position:absolute;top:0;bottom:0;right:0;left:0;}
.switchbtn{z-index:1001;}
.zad731{z-index:1001;}
.right{border-left:8px solid #C7CDD2;;width:300px;top:40px}
.inputwords,.temptexarea{width:80%}
.iconon{background:url(../../images/note/note_on.png) no-repeat;width:21px;height:21px;max-width:21px;max-height:21px;background-size:21px 21px;}
.iconoff{background:url(../../images/note/note_off.png) no-repeat;width:21px;height:21px;max-width:21px;max-height:21px;background-size:21px 21px;}
.contenton{font-size: 16px;color:blue;}
.contentoff{font-size: 16px;color:#999;}
.title_block{display:inline-block;cursor:pointer}
.DownloadaDiv{box-shadow: none;}
#top {display:block;padding-right:0px;margin:10px 0;height:40px;width:40px;background:url(../../mooc2/images/backtotop2.png) no-repeat -40px 0;padding-left: 0px;border-radius: 4px;box-shadow: 0 1px 7px 0 rgba(198,204,217,0.58);margin-left:11px;}
#top:hover {background:url(../../mooc2/images/backtotop2.png) no-repeat 0 0;}
#kf {display:block;padding-right:0px;height:40px;width:40px;background: #fff url(../../mooc2/images/kfIcon.png) no-repeat 8px center;padding-left: 0px;border-radius: 4px;box-shadow: 0 1px 7px 0 rgba(198,204,217,0.58);}
#dy {display:block;height:38px;width:51px;margin:10px 0;line-height: 36px;font-size: 16px;bottom: 210px;color: #0a0a0a;background: #fff url(../../images/dyIcon.png) no-repeat 12px center;padding-left: 0px;border-radius: 3px;text-align:left;}
#yj {display:block;width:26px;height:26px;margin:10px 0;background:url(../../img/min_yj_22.png) no-repeat;}
/*验证码*/
.AlertCon02 {background: #fff none repeat scroll 0 0;border: 1px solid #c5c5c5;height: 238px;padding: 10px;width: 528px;}
.fr{ float:right;}
.fl{ float:left;}
.clearfix {overflow:hidden;zoom:1}
.zcenter { width:600px; margin:0 auto; color:#333;margin-top: 100px;}
.zcenter a { color:#2ca4de;}
.zc_h2 { padding-top:50px; font-size:36px;}
.zc_table{width:334px;text-align: left;}
.zc_table td {padding-top:11px;font-size: 16px;}
.zc_table  td span.sp_h2{font-size: 16px;}
.zc_name {text-align:right;width: 85px;}
.zc_table td.zc_vercode_ac{font-size: 12px;vertical-align: middle;padding-left: 0px;}
img{vertical-align: middle;}
.zc_input330,.zc_input32 { width:325px; height:28px; padding-left:5px; border:1px #d7d7d7 solid; border-radius:3px; background:none; line-height:28px;}
.zc_input32 { width:155px;}
.zc_verify { padding:0;margin:0;padding-right: 5px;padding-left: 7px;}
.zc_btn,.zc_btn1 { display:inline-block; padding-top:10px; font-size:20px; text-align:center;}
.zc_btn a ,.zc_btn1 a{ display:inline-block; width:163px; height:30px; border-radius:4px; line-height:30px; text-align:center; background-color:#7B9E31; color:#fff;}
.zc_btn a:hover ,.zc_btn1 a:hover { background-color:#6e850c; text-decoration:none;}
.zc_old { padding-left:10px;}
.zc_fontsize1 { padding-top:43px; color:#555; font-size:22px;}
.zc_fontsize2 { padding-top:10px; padding-bottom:40px; color:#555; font-size:14px;}
.zgray ,zgray a {color:gray}
.zgreen ,.zgreen a { color:#839b1b;}
.zc_ps { width:400px; margin:0 auto;  margin-top:32px; padding-top:26px; padding-left:28px; padding-right:26px; border-top:1px #ccc solid; text-align:left; font-size:14px; }
.zc_ps a { color:#2ca4de;}
.zc_p { line-height:24px;}
.zwindow { width:547px; height:341px; margin:0 auto; border:1px #ccc solid; border-radius:3px; text-align:left;}
.zw_left { font-size:18px; text-align:left;}
.zw_title { height:57px; padding-left:18px; background-color:#839b1b; line-height:57px; font-size:18px; color:#fff; }
.zw_box { padding:30px; font-size:14px; line-height:24px;}
.zw_content { height:185px;}
.swfupload{float:left;}
.role{color:#0367b0;font-size:12px;}
.openlock{display:none;color:#7b9e31;cursor:pointer;text-decoration:underline;cursor: pointer;height: 30px;margin-top: -15px; position: absolute; right: 45px;top: 300px;width: 60px;}
.bigImgDiv{position:fixed;top:0;left:0;width:100%;height:100%;display:none;z-index:999999;}
.bigImgMask{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.8;z-index:1000001;}
.bigImgClose{position:absolute;top:26px;right:52px;width:26px;height:26px;background:url(../../images/closeImgView.png) no-repeat left center;background-size:100%;z-index:1000002;}
.bigImgDiv img{position:absolute;left: 0;right: 0;top: 0;bottom: 0;margin:auto;z-index:1000003;display:inline-block;max-height: 80%;}

.teacherTool{position:absolute;width:84px;z-index:99999;bottom:84px;display:none;}
.jobhint{width:45px;height:45px;border-radius:32px;background:#ff9838;position:absolute;bottom:260px;}
.zad71{width:42px;height:23px;background: #9BA;position:fixed;top: 159px;right: 111px;color:green;text-align:center;font-size:10pt;display:none;margin-right: 10px;padding-left: 15px;padding-right: 15px;line-height: 24px;border-radius: 4px;color: green;}
.formNote_text .kc_notes_area:empty:before{content:'请输入笔记...';color: #ccc;}
.formNote_text .kc_notes_area.en:empty:before{content:'Please enter notes...';color: #ccc;}
body>.left{width: 100%;min-width: 1280px;position: absolute;margin-right: 0;background: #fff;}
body{ background:#FFFFFF;}
.prev_box{margin: 40px auto 0;}
.prev_next{cursor: pointer;}
#saveTips .popDiv{margin-left:-220px;margin-top:-78px;}
@media screen and (max-width: 1440px) {
    body>.left{min-width: 1000px;}
}

#selector2 {z-index:100;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
#selector2 .spliter{height: 100%;top: 0;width: 7px;display: block;font-size: 0.1px;position: absolute;cursor: col-resize;}
#selector2 .spliter.west{left: -5px;}
#selector2 .spliter.east{right: -5px;}

.voteContainer{display:none;position:fixed;width:100%;height:100%;top:0;left:0;z-index:1000;background: #f2f4f7;}